<?xml version="1.0"?>
<log4net debug="false">
    <!--http://logging.apache.org/log4net/release/manual/introduction.html-->
    <root>
        <!-- Available Levels (in order of increasing verbosity): Off, Error, Warn, Info, Debug, All -->
        <level value="Warn" />
        <appender-ref ref="Roller" />
    </root>

    <!-- All other loggers (even those not explicitly configured) inherit their level and appender collection from
         their parent (probably <root>) unless they are overidden like this: -->

    <logger name="CB">
        <level value="Debug" />
    </logger>

    <logger name="CB.Schedule">
        <level value="Info" />
    </logger>

    <appender name="Roller" type="log4net.Appender.RollingFileAppender">
        <file value="cb.log" />
        <immediateFlush value="true" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="20" />
        <maximumFileSize value="20MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%logger %-5level %date{yyyy/MM/dd HH:mm:ss.fff} - [%thread] %message%newline" />
        </layout>
    </appender>
</log4net>
