<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net47" />
  <package id="DryIoc" version="4.0.2" targetFramework="net47" />
  <package id="log4net" version="2.0.8" targetFramework="net47" />
  <package id="MonoGame.Framework.OpenGL" version="3.7.1.189" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="NSubstitute" version="4.0.0" targetFramework="net47" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net47" />
  <package id="RLNET" version="1.0.6" targetFramework="net47" />
  <package id="SadConsole" version="8.4.1" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net47" />
  <package id="YamlDotNet" version="6.0.0" targetFramework="net47" />
</packages>